body {
    margin: 0;
}
button {
    cursor: pointer;
}
.color-e3b873 {
    color: #e3b873;
}
.color-white {
    color: #ffffff;
}
.font-nunito-sans-400 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}
.header {
    background-color: #131313;
    height: 83px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-company__text {
    margin: 0;
    font-size: 11px;
}
.wrapper-nav-list__nav-list-header {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 3vw;
}
.item__link-header {
    text-decoration: none;
    font-size: 11px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.item__link-header:hover {
    color: #e3b873;
}
.header-number__phone-number {
    font-size: 11px;
    text-decoration-line: underline;
}
.double-style {
    border: none;
    border-radius: 2px;
    background-color: #e3b873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    text-align: center;
    font-size: 11px;
    font-style: italic;
    padding: 13px 33px;
}
.section-upper {
    background-color: #3f3f3f;
}
.section-upper__container {
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.70) url(image/image\ 4.3.png);
    background-position: center;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    height: 707px;
}
.container__container-upper {
    width: 515px;
    margin-left: 134px;
}
.container-upper__title {
    font-family: "Yeseva One", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 132%;
}
.container-upper__text {
    font-size: 22px;
    line-height: 163%;
}
.button-container__button-two {
    border-radius: 2px;
    border: 1px solid #ffffff;
    font-size: 11px;
    font-style: italic;
    padding: 13px 17px;
    background-color: transparent;
}